@using Mahla_Blog.CoreLayer.Utilities
@using Mahla_Blog.CoreLayer.Utilities
@model Mahla_Blog.CoreLayer.DTOs.Posts.PostFilterDto
@{
    ViewData["Title"] = "مقاله ها ";
    ViewData["selected"] = "Post";
    var Counter = 1;
}

<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">دسته بندی ها</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">فیلتر دسته‌بندی‌ها</h3>
        </div>
        <div class="box-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="title">عنوان</label>
                            <input type="text" id="title" name="title"
                                   class="form-control"
                                   value="@Model.FilterParams.Title"
                                   placeholder="جستجو بر اساس عنوان" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="slug">نامک (Slug)</label>
                            <input type="text" id="slug" name="CategorySlug"
                                   class="form-control"
                                   value="@Model.FilterParams.CategorySlug"
                                   placeholder="مثال: sport-news" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="hidden-xs">&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i> فیلتر
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="content">
    <a class="btn btn-success" style="margin-bottom:5px;" asp-area="Admin" asp-action="Add" asp-controller="Post">افزودن پست</a>
    <div class="box box-primary">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>slug</th>
                    <th>عنوان</th>
                    <th>گروه</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>@Counter</td>
                        <td>
                            <img style="max-width:50px" src="@Directories.GetPostImage(item.ImageName)" />
                        </td>
                        <td>@item.Slug</td>
                        <td>@item.Title</td>
                        <td>@item.Categories.Title</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-info btn-sm">ویرایش</a>
                        </td>
                    </tr>
                    Counter++;
                }
            </tbody>
        </table>
    </div>
    @if (Model.PageCount > 1)
    {
        <div class="box-footer">
            <div style="padding:10px">
                <ul class="pagination" style="display:inline-block">
                    @if (Model.PageCount > 1)
                    {
                        <li class="paginate_button previous">
                            <a onclick="changePage((@Model.FilterParams.PageId-1))" href="#">قبلی</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous disabled">
                            <a href="#">قبلی</a>
                        </li>
                    }

                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="paginate_button @(i == Model.FilterParams.PageId ? "active" : null)">
                            <a onclick="changePage(@i)" href="javascript:void(0)">@i</a>
                        </li>
                    }
                    @if (Model.PageCount > Model.FilterParams.PageId)
                    {
                        <li class="paginate_button next ">
                            <a onclick="changePage((@Model.FilterParams.PageId+1))" href="#">بعدی</a>
                        </li>
                    }
                    else
                    {

                        <li class="paginate_button next disabled">
                            <a href="javascript:void(0)">بعدی</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</section>