@model Mahla_Blog.CoreLayer.DTOs.Posts.PostFilterDto
@{
    ViewData["Title"] = "پست ها ";
    var Counter = 1;
}

<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">دسته بندی ها</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>

<section class="content">
    <a class="btn btn-success" style="margin-bottom:5px;" asp-area="Admin" asp-action="Add" asp-controller="Post">افزودن پست</a>
    <div class="box box-primary">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>slug</th>
                    <th>عنوان</th>
                    <th>گروه</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>@Counter</td>
                        <td><img src="" /></td>
                        <td>@item.Slug</td>
                        <td>@item.Title</td>
                        <td>@item.Categories.Title</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-info btn-sm">ویرایش</a>

                        </td>
                    </tr>
                    Counter++;
                }
            </tbody>
        </table>
    </div>
</section>
